 <div class="container">
  <% if !@order %>
    <h2>Your cart is empty</h3>
  <% else %>
    <h2>Your cart:</h3>
    <table>
      <tr>
        <th>Product</th>
        <th>Price</th>
      </tr>
    <% @order.products.each do |product| %>
      <tr>
        <td>
          <%= link_to product_path(product[:id]) do %>
            <%= product.name %>
          <% end %>
        </td>
        <td>
          <%= price_display(product.price) %>
        </td>
      </tr>
    <% end %>
    </table>
    <div class="btn pay-btn">
      <%= link_to "Pay now", "/payments/session", id: "stripe" %>
    </div>
</div>
  <% end %>
  <%= javascript_pack_tag "stripe" %>
