<div class="container">
  <% @products.each do |product| %> 
    <div class="card">
      <% if product.image.attached? %>
        <%= image_tag product.image  %>
      <% else %>
        <%= image_tag 'https://witch-marketplace.s3-ap-southeast-2.amazonaws.com/y3dgv3jdnqapbm02mpyxndppjr9n' %>
      <% end %>

      <h3 class="card-title"><%= product.name %></h3>
      <h5 class="card-subtitle mb-2 text-muted"><%= link_to"#{product.category.name}", category_path(product.category) %></h6>
      <p class="card-text"><%= product.short_description %></p>

      <p class="card-price"><%= product.price_display %></p>

      <section class="user-buttons">
        <%= link_to 'View', product_path(product), class: 'btn btn-primary' %>
        
        <% if can? :edit, product %>
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-info' %>
        <% end %>

        <% if can? :destroy, product %>
          <%= link_to 'Delete', product, method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?"} %>
        <% end %>
      </section>
      
    </div>
  <% end %>
</div>
