<div class="row content mt-3">
  <div class="col-md-4">
    <%# <%= image_tag image_for(@product) , alt: "#{@product.name} image", class: 'mt-2', style: 'width:100%;' %> 
  </div>
  <div class="col-md-8">
    <h1><%= @product.name %></h1>
    <%= image_tag @product.image if @product.image.attached? %>
    <div>
      <strong>Category:  </strong>
      <%= link_to Category.find(@product.category_id).name, category_path(@product.category_id) %>
    </div>
    
    <p><%= @product.description %></p>
    <% if user_signed_in? && @product.user.id != current_user.id && !@product.sold %>
      <%= link_to "Add to cart", orders_path(product_id: @product), method: :post %>
    <% end %>
    
    <% if can? :edit, @product %>
         <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-info'%>
    <% end %>

    <% if can? :destroy, @product %>
        <%= link_to 'Delete', product_path(@product), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?"} %>
    <% end %>

    <%= link_to 'Back', products_path, class: 'btn btn-primary' %> 
  </div>

  <div class="similar">
    <% if @similar_products.any? %>
      <h2>Similar products:</h2>
      <% @similar_products.each do |product| %> 
    
        <h3 class="card-title"><%= product.name %></h3>
        <%= image_tag product.image if product.image.attached? %>
        <p class="card-text"><%= product.description %></p>
        <p><%= product.price_display %></p>

        <%= link_to 'View', product_path(product), class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
