<div class="container-show">
 
  <div class="show">
    <h1 class="card-title"><%= @product.name %></h1>
    <p class="card-price"><%= @product.price_display %></p>
    <div class="card-subtitle">
      <strong>Category:  </strong>
      <%= link_to Category.find(@product.category_id).name, category_path(@product.category_id) %>
    </div>

    <div class="cart-button">
      <% if user_signed_in? && @product.user.id != current_user.id && !@product.sold %>
         <%= link_to "Add to cart", orders_path(product_id: @product), method: :post %>
      <% end %>
    </div>
    <div class="show-image">
      <%= image_tag @product.image if @product.image.attached? %>
    </div>
    
    <p class="card-text"><%= @product.description %></p>

    <section class="show-user-buttons">      
      <% if can? :edit, @product %>
          <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-info'%>
      <% end %>

      <% if can? :destroy, @product %>
          <%= link_to 'Delete', product_path(@product), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?"} %>
      <% end %>

      <%= link_to 'Back', products_path, class: 'btn btn-primary' %> 
    </section>
  </div>
    <% if @similar_products.any? %>
      <h2>Similar products:</h2>
      <div class="similar">
        <% @similar_products.each do |product| %> 
    
          <div class="card-similar">
            <%= link_to product_path(product) do %>
              <h3 class="card-title"><%= product.name %></h3>
              <%= image_tag product.image if product.image.attached? %>
            <% end %>
            <p class="card-price"><%= product.price_display %></p>          
          </div>
        <% end %>
      <% end %>
  </div>

</div>
